#docs_choose_rows {
    display: flex;
    flex-wrap: wrap;
}
.docs_item {
    width: 196px;
}

#docs_choose_rows .docs_item:hover {
    margin: 0 0 -1px 0;
    padding: 15px 0;
}

.docs_item_cont {       /*инфо о документе*/
    width: 60%;
}

.popup_box_container {
    width: 1000px;
    margin: 0;
}

.docs_item_thumb {
    max-height: 60px;
    height: 60px !important;
    width: 60px !important;
    margin: 0 15px 0 0;
}
.docs_item_thumb_wrap {     /*контейнер картинки*/
    height: 60px;
}
.docs_item_thumb_img {
    max-height: 60px !important;
}

.docs_choose_rows .docs_item_actions {      /*кнопки в прикреплении*/
    /*background: green;*/
    display: none;
}

/*СТИЛИ ДЛЯ СТРАНИЦЫ ФАЙЛОВ*/

#docs_list{
    display: flex;
    flex-wrap: wrap;
}

#docs_list .docs_item {
    display: flex;
    justify-content: start;
    width: 255px;
}

#docs_list .docs_item_actions {
    order: 2;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

#docs_list .docs_item_cont {
    margin: 0;
}